name: Push to DockerHub

on:
  push:
    branches: [ 'gr-main' ]

jobs:
  push:
    runs-on: ubuntu-latest
    environment: release
    env:
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0' 
      - name: Set variables
        id: vars
        run: |
          echo "VERSION=$(cat VERSION)" >> $GITHUB_OUTPUT
          echo "TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
          echo "BUILD_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
          echo "SHORT_COMMIT_ID=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
      - name: Set image tags
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ steps.vars.outputs.TAG }}
            type=raw,value=${{ steps.vars.outputs.VERSION }}
            type=raw,value=${{ steps.vars.outputs.SHORT_COMMIT_ID }}
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
      - name: Build & Push Image
        uses: docker/build-push-action@v3
        with:
          context: .
          build-args: |
            VERSION=${{ steps.vars.outputs.VERSION }}
            WEBUI_VERSION=${{ steps.vars.outputs.TAG }}
            VCS_REF=${{ steps.vars.outputs.SHORT_COMMIT_ID }}
            BUILD_DATE=${{ steps.vars.outputs.BUILD_DATE }}
          tags: ${{ steps.meta.outputs.tags }}
          push: ${{ github.ref_protected }} # only for protected branches
