name: Build and Test

on:
  pull_request:
  push:
    branches:
      - gr-main

jobs:
  test-postgres:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker Lint
        id: docker-lint
        run: |
          docker run --rm -i ghcr.io/hadolint/hadolint hadolint \
          --ignore DL3008 \
          --ignore DL3059 \
          - < Dockerfile
      - name: Run tests
        id: smoketest
        run: |
          docker-compose -f tests/docker-compose.test.postgres.yml build \
            --build-arg VCS_REF=${{ github.sha }} \
            --build-arg VERSION=$(cat VERSION)
          docker-compose -f tests/docker-compose.test.postgres.yml up --exit-code-from tester

  test-mongodb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Docker Lint
        id: docker-lint
        run: |
          docker run --rm -i ghcr.io/hadolint/hadolint hadolint \
          --ignore DL3008 \
          --ignore DL3059 \
          - < Dockerfile
      - name: Run tests
        id: smoketest
        run: |
          docker-compose -f tests/docker-compose.test.mongodb.yml build \
            --build-arg VCS_REF=${{ github.sha }} \
            --build-arg VERSION=$(cat VERSION)
          docker-compose -f tests/docker-compose.test.mongodb.yml up --exit-code-from tester
